.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  /* display: flex; */
}

body {
  padding: 0%;
  margin: 0;
  background-color: #f4f4f4;
}

h1{
  color: #4caf50;
}

.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: Black;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: grey;
}

.error-message {
  color: red; /* Change text color to red */
  font-size: 20px; /* Change font size */
  /* Add more styles as needed */
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 20px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height:50px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}